body{
    margin:0px;
    padding:0px;

}
#top{
    background-color: #DCDCDC;
    height:80px; 
}
#logo{

}
#logo img{
    margin:10px;
    left:350px;
    position: relative;
    float:left;
    height: 55px;
    width: 55px;
}
#navigation{
    float:right;
    right:300px;
    margin:10px 20px;
    padding:0 400px 0 0;

}
#menu-item li{
    position: relative;
    list-style: none;
    display: inline;
    font-size:25px;
    padding:0 100px 0 0;
}
#menu-item a{
    text-decoration: none;
    color:#445464;
}
#menu-item a:hover{

    color:white;
}
#bottom{
    background-color: #445464;
    height:550px;
    position: relative;
    width:100%;
    text-align: center;
    font-weight:bold;
    float:left;
    font-family: "Times New Romen",Arial;
}
#connect-with-us, #newsletter, #copyright, #signup,#subscribe{
    color:#9aa9b7;
    margin:50px;
}
[value="SUBSCRIBE"],[value="Search"]{
    color:#9aa9b7;
}
#socialmedia a{
    text-decoration: none;
    color: white;
}
#socialmedia li{
    list-style: none;
    display:inline;
    padding:0 30px 0 0;
}
#socialmedia a:hover{
    color:lightblue;
}
#newsletter-email,#newsletter-submit{
    background-color:#445465;
    border:1px solid white;
    border-radius: 4px;
    font-size: 15px;
    padding:10px;


}
#copyright{
    font-size:  small;
}
/*above style both for all*/
#home{
    text-align: center;
    margin:10px 0 0 0;
    align-content: center;

}
#search-title,#register-title,#login-title,#admin-title{
    font-size: 30px;
    font-family: "Times New Romen";
    font-weight:bold;
    margin:10px 0 0 0;
    color:#445464;


}
#pincodeSearch,#emailID,[type="password"]{
    background-color:whitesmoke;
    border:1px solid lightblue;
    border-radius: 5px;
    font-size: 15px;
    padding:5px;
    margin: 10px;
}
#pincode-search{

    border:30px solid whitesmoke;
    border-radius:  10px;
    font-size: 15px;
    padding:5px;
    width:800px;
    margin: 0px 0 10px 500px;
}
#pincode-text{
    font-size: 30px;
    font-family: "Times New Romen";
    font-weight:bold;
    margin:10px 0 0 0;

}
#search{
    background-color:white;
    border:1px solid #DCDCDC;
    border-radius: 4px;
    font-size: 15px;
    padding:12px;
    background-repeat: space;

}
#register,#login,#adminarea{
    text-align: center;
    margin:10px 0 0 0;

}
#register-page,#login-page,#admin-page{
    border:30px solid whitesmoke;
    border-radius:  10px;
    font-size: 15px;
    padding:5px;
    width:800px;
    float: left;
    margin: 10px 500px;

}
#register-submit,#login-submit,#pincode-update,#pincode-submit,#pincode-cancel{
    background-color:#445465;
    border:1px solid white;
    border-radius: 4px;
    font-size: 15px;
    padding:12px;
    color:white;

}
#search:hover,#register-submit:hover,#login-submit:hover,#pincode-update:hover,#pincode-submit:hover,#pincode-cancel:hover{
    background-color:#DCDCDC;
    border:1px solid white;
    border-radius: 4px;
    font-size: 15px;
    padding:12px;
    background-repeat: space;
    color: #445464;
}
.text{
    font-size: 15px;
    font-family: "Times New Romen", Sans serif;
    font-weight:bold;
    width:200px;
    float:left;
    height:50px;
    margin-left:30px;
    line-height: 50px;   
}
#field{
    width:150px;
    height:50px;
    float:left;
    margin-left:15px; 
}
#text-field{
    width:500px;
    height:100px;
    margin-top:10px;
    margin-left: 150px;
    float:left;
}
input,select{
    background-color:whitesmoke;
    border:1px solid lightblue;
    border-radius: 5px;
    font-size: 15px;
    padding:5px;
    margin: 10px;
}

#login-here,#register-here{
    text-decoration: none;
    color:445464;
}
#error{
    float: right;  
    color: red;
    font-weight: bold;
    margin-right:  10px;
}
#welcome_user{

    float:right;
    margin-top: 6px;
    color:#445464;
}
#cod{
    font-size: 18px;
    font-weight: bold;
    color:#445464;
}
#errorpincode,#coderror{
    color: red;
    font-weight: bold;

}
#table_content{
    border:8px whitesmoke;
    background-color: #DCDCDC;
    height: 50px;
    color:#445464;
} 
#err{
    color: red;
    font-size: 13px;
}
#couriers{
    font-size: 30px;
    margin: 20px;
}
